* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    margin: 20px;
    padding: 10px;
    border-radius: 1rem;
    background-color: red;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 10rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}